
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Deloitte MET - Login</title>

    <!-- Bootstrap -->
    <link href="vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="vendors/nprogress/nprogress.css" rel="stylesheet">

    <link href="build/css/login_page.css" rel="stylesheet">
</head>
<body>

    <!-- Header -->

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img src="images/DEL_SEC_RGB.png"></a>
            </div>
            <div class="navbar-right">
                <!-- Login Form -->
                <form action="DB_Dashboard.html" class="homepage_login_form">
                    <input class="homepage_login_input" type="text" placeholder="Username"> <input class="homepage_login_input" type="password" placeholder="Password"> <input type="image" src="images/login_btn.jpg" class="homepage_login_btn">
                </form>
                <!-- Login Form  Ends -->
                <!-- Clear Floats -->
                <div class="clearfix"></div>

            </div>



        </div>





    </nav>







    <!-- Header Ends -->
    <!-- Container Begins -->
    <div class="container">

        <!-- Green Bar -->
        <div class="greenline"></div>

        <!-- Jumbotron -->
        <div class="jumbotron loginpage_jumbo">


        </div>
        <!-- Jumbotron Ends -->
        <!-- Green Bar -->
        <div class="greenline"></div>


        <!-- Row Begins -->
        <div class="row">
            <div class="col-xs-12 login_middle_text">
                <h1>Maintenance Estimation Tool</h1>
                <p>The Maintenance Estimation Tool uses a proven, multi-factor, science based approach to create quantitative estimates based on historical project data and best practices from Deloitte’s database of past M&O projects.</p>
            </div>
        </div>
        <!-- Row Ends -->
        <!-- Row Begins -->
        <div class="row">

            <div class="col-xs-12 col-s-4 col-md-4">
                <div class="three_boxes_containers">
                    <div class="row">
                        <div class="pen"></div>
                        <!-- Green Bar -->
                        <div class="greenline"></div>
                    </div>
                    <div class="row three_boxes">
                        <div>
                            <h3>BE FLEXIBLE</h3>
                            <p>The Maintenance Estimation Tool supports multiple development methodologies, including Hybrid Agile and Waterfall.</p>
                            <a>READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-s-4 col-md-4">
                <div class="three_boxes_containers">
                    <div class="row">
                        <div class="guy"></div>
                        <!-- Green Bar -->
                        <div class="greenline"></div>
                    </div>
                    <div class="row three_boxes">
                        <div>
                            <h3>BE SMART</h3>
                            <p>The Maintenance Estimation Tool leverages a configurable database of historical estimates to validate current work.</p>
                            <a>READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xs-12 col-s-4 col-md-4">
                <div class="three_boxes_containers">
                    <div class="row">
                        <div class="agile"></div>
                        <!-- Green Bar -->
                        <div class="greenline"></div>
                    </div>
                    <div class="row three_boxes">
                        <div>
                            <h3>BE AGILE</h3>
                            <p>Agile estimation principles allow us to respond more quickly to changing business needs and provide flexibility to re-prioritize maintenance items as needed to meet evolving needs.</p>
                            <a>READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Row Ends -->

    </div>
    <!-- Container Ends -->
    <!-- Footer -->

    <footer>
        <div class="container">
            <p>Deloitte Maintenace Estimation Tool ©2016 All Rights Reserved.</p>
        </div>
    </footer>

    <!-- Footer Ends -->


</body>
</html>
