<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <ul class="nav side-menu">
            <li>
                <a href="DB_Dashboard.html"><i class="fa fa-dashboard"></i>My Dashboard</a>

            </li>

            <li>
                <a href="#"><i class="fa fa-calculator"></i>Estimate<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="ER_SearchCreate.html">Releases</a></li>
                    <li><a href="ES_SearchCreate.html">Sprints</a></li>
                    <li><a href="EW_EstimateWorkItems.html">Work Items</a></li>

                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-search"></i>Reports<span class="fa fa-chevron-down"></span></a>

                <ul class="nav child_menu">
                    <li><a href="RP_WorkItemReport.html">Work Item Report</a></li>
                    <li><a href="RP_ReleaseReport.html">Release Report</a></li>
                    <li><a href="RP_SprintReport.html">Sprint Report</a></li>
                    <li><a href="RP_SDLCPhaseEffortReport.html">SDLC Phase Effort Report</a></li>
                </ul>

            </li>
            <li>
                <a href="#"><i class="fa fa-cog"></i>Administration<span class="fa fa-chevron-down"></span></a>

                <ul class="nav child_menu">
                    <li><a href="AD_ManageUsers.html">Manage Users</a></li>
                    <li><a href="AD_UpdateCompnents.html">Manage Project Components</a></li>
                    <li><a href="AD_ViewManageArchive.html">View/Manage Archive</a></li>
                    <li><a href="AD_ManageComponentComplexity.html">Manage Component Complexity</a></li>

                </ul>

            </li>
        </ul>
    </div>
</div>
